{
  "permissions": {
    "allow": [
      "Bash(npm run build:*)",
      "Bash(git add:*)",
      "Bash(git commit:*)",
      "Bash(git push:*)",
      "Bash(git restore:*)",
      "Bash(git branch:*)",
      "Bash(git remote add:*)",
      "Bash(git stash:*)",
      "Bash(ren:*)",
      "Bash(node --version:*)",
      "Bash(npm --version:*)",
      "Bash(npm install:*)",
      "Bash(npm run dev:*)",
      "Bash(npm audit:*)",
      "Bash(npm outdated:*)",
      "Bash(where:*)",
      "Bash(npm root:*)",
      "Bash(node:*)",
      "Bash(dir:*)",
      "Bash(netstat:*)",
      "Bash(findstr:*)",
      "Bash(npx:*)",
      "Bash(cat:*)",
      "Bash(mkdir:*)",
      "Bash(taskkill:*)",
      "Bash(powershell:*)",
      "Bash(copy:*)",
      "Bash(del:*)",
      "WebSearch",
      "mcp__TestSprite__testsprite_bootstrap_tests",
      "mcp__TestSprite__testsprite_generate_code_summary",
      "mcp__TestSprite__testsprite_generate_frontend_test_plan",
      "mcp__TestSprite__testsprite_generate_standardized_prd",
      "mcp__next-devtools__init",
      "mcp__next-devtools__nextjs_runtime",
      "mcp__next-devtools__nextjs_docs",
      "mcp__next-devtools__browser_eval",
      "mcp__next-devtools__nextjs_index",
      "mcp__next-devtools__nextjs_call",
      "mcp__context7__resolve-library-id",
      "mcp__context7__get-library-docs",
      "mcp__magic__21st_magic_component_builder"
    ],
    "deny": [],
    "ask": []
  },
  "enableAllProjectMcpServers": true,
  "enabledMcpjsonServers": [
    "TestSprite"
  ]
}
